<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moduleb">

    <application android:theme="@style/Theme.MultimoduleHiltKotlinExample">
        <activity android:name=".OrderConfirmationActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.sampleapp.order.CONFIRMATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModuleBMainActivity"
            android:label="@string/title_activity_module_b_main" />
    </application>

</manifest>