<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shipping">

    <application>
        <activity
            android:name=".ContactInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ShippingActivity"
            android:exported="false" />
    </application>

</manifest>